@import "../../Assets/GlobalVaribales.scss";

.Home-container{
    display: flex;
    flex-direction: row;
    background-color:#fff;
}
.Home-Calender {
    height: 100vh;
    color: black;
    width: 100%;
}
