$red: #ff3860;
$red-dark: #ff1443;
$red-light: #ff5c7c;
$blue: #498afb;
$blue-dark: #2674fa;
$blue-light: #6ca0fc;
$orange: #fa8142;
$orange-dark: #f96a1f;
$orange-light: #fb9865;
$green: #09c372;
$green-dark: #07a15e;
$green-light: #0be586;
$purple: #9166cc;
$purple-dark: #7d4bc3;
$purple-light: #a481d5;